<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }} All Rights Reserved.</p>
    <p>
      {% if site.email %}<a>{{ site.email }}</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}">Github</a>{% endif %}
      {% if site.zhihuUsername %}<a href="https://www.zhihu.com/people/{{ site.githubUsername }}/activities">知</a>{% endif %}
    </p>
  </div>
</footer>
