<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home/主页</a>
    <a class="c-navigation__item {% if page.url == '/articles/' %}is-active{% endif %}" href="{{ "/articles/" | prepend: site.baseurl }}">Articles/文章</a>
    <a class="c-navigation__item {% if page.url == '/categories/' %}is-active{% endif %}" href="{{ "/categories/" | prepend: site.baseurl }}">Categories/分类</a>
    <a class="c-navigation__item {% if page.url == '/tags/' %}is-active{% endif %}" href="{{ "/tags/" | prepend: site.baseurl }}">Tags/标签</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About/关于</a>
  </div>
</nav>
